.form-box{
    height: 650px !important;
}
.alertRegister{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(12, 12, 12, 0.648);
    z-index: 10;
    backdrop-filter: blur(15px);
    box-shadow:  0 5px 20px rgb(0, 247, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    right: 5rem;
    animation: donea 2s linear; 
    color: rgb(255, 0, 0);
    padding: 1rem;
    .done{
        color: aqua;
        // text-shadow:  2px 5px 30px rgb(0, 247, 255);
        font-size: 12rem;
    }
    @keyframes donea {
        0%{
            visibility: hidden ;
        }
        20%{
            visibility: visible;
            right: 38.5%;
        }
        100%{
            right: 38.5%;
        }
    }
}