.historyBill{
    background-image: url(https://wallpaperaccess.com/full/237745.jpg);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    padding-left: 20vw;
    position: relative;
    .historyBill--pana{
        display: flex;
        color: aliceblue;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;
        transition: .5s;
    }
    .historyBill--pana div:hover{
        color: red;
        text-shadow: 2px 2px 20px red;
    }
    .historyBill__detail{
        position: absolute;
        width: 60vw;
        height:0vh;
        background-color: rgba(252, 250, 250, 0.9);
        backdrop-filter: blur(12px);
        color: black;
        top: 5%;
        left: 10%;
        overflow: hidden;
        transition: 1s;
    }
    .historyBill__detail p{
        margin-left: 2rem;
    }
    .historyBill__detail span{
        color: brown;
        font-weight: 800;
    }
    .historyBill__detail th{
        color: black !important;
    }
    .historyBill__detail td{
        color: black !important;
    }
    .historyBill__render__table{
        width: 80vw;
        height: 68vh;
        overflow-x: hidden;
    }
    .historyBill__detail button{
        background-color: brown;
        color: aliceblue;
        border: none;
        padding: 0.5rem 2rem;
        position: absolute;
        right: 50px;
        bottom: 30px ;
    }
    .historyBill__render{
        width: 80vw;
        height: 100vw;
        background-color: rgba(0, 0, 0, 0.733);
        backdrop-filter: blur(10px);
        padding-top: 5vw;
        h1{
            margin: 1rem;
            color: brown;
        }
        table{
            margin: 1rem;
            width: 95%;
        }
        th{
            color: aliceblue;
            text-align: center;
            border-bottom: 1px solid rgba(192, 192, 192, 0.534);
            padding: 1rem;
        }
        td{
            color: aliceblue;
            text-align: center;
            border-bottom: 1px solid rgba(192, 192, 192, 0.534);
            padding: 0.5rem;
            height: 1rem;
            overflow: hidden;
            // padding: 1rem;
        }
        .seeDetail{
            text-decoration: underline;
            font-size: 0.8rem;
        }
        .seeDetail:hover{
            color: brown;
        }
    }
}